@model DAL.Models.ModelUser

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LogIn.cshtml";
}


<style>
    .center {
        height: 100%;
        display: flew;
        align-items: center;
        justify-content: center;
    }

    .form-input {
        width: 200px;
        padding: 5px;
        background: white;
    }

        .form-input img {
            width: 100%;
        }
</style>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10 editor">
                @Html.TextBoxFor(model => model.UserName, new { style = "width:690px", placeholder = "User Name", @class = "form-input" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10 editor">
                @Html.PasswordFor(model => model.UserPassword, new { style = "width:690px", placeholder = "User Password", @class = "form-input" })
                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <br />
                <button type="submit" onclick="location.href='@Url.Action("Login","Home")'">Login</button>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Sign Up
                </button>
            </div>
        </div>



    </div>
    <div>
        @Html.ValidationMessage("Error", null, new { @class = "text-danger" })
    </div>
}




@using (Html.BeginForm("SignUp", "Home"))
{
    @Html.AntiForgeryToken()

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Register as User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Image Preview</label>
                    <div class="center d-flex aligns-items-center justify-content-center">
                        <div class="form-input d-flex aligns-items-center justify-content-center">
                            <div class="preview">
                                <img id="file-preview" />
                            </div>
                        </div>
                    </div>

                    <div class="d-flex aligns-items-center justify-content-center">
                        <label>Your Profile Pic</label>
                    </div>
                    <div class="d-flex aligns-items-center justify-content-center">
                        <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
                    </div>


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="white-space:nowrap">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="white-space:nowrap">
                        @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-offset-4">
                            @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-offset-4">
                            @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="white-space:nowrap">
                        @Html.LabelFor(model => model.UserConPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-offset-4">
                            @Html.PasswordFor(model => model.UserConPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserConPassword, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Sign Up" class="btn btn-secondary" />
                </div>
            </div>
        </div>
    </div>

}


<script type="text/javascript">
    function showPreview(event) {
        var src = URL.createObjectURL(event.target.files[0]);
        var preview = document.getElementById("file-preview");
        preview.src = src;
        preview.style.display = "block;"
    }
</script>
